<section class="about-us section" id="about-us">
  <div class="container">
    <div class="about-us-title">
      <h2 class="about-us-title-heading">Про нас</h2>

      <p class="about-us-text">
        У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
        приносять радість та задоволення. Наша місія — пропонувати високоякісні
        десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
        естетичний вигляд.
      </p>
    </div>

    <div class="about-us-gallery">
      <div class="about-us-swiper swiper">
        <div class="about-us-swiper-wrapper swiper-wrapper">
          <div class="about-us-slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us/desktop/about-us-1.webp    1x,
                  /img/about-us/desktop/about-us-1@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us/tablet/about-us-tablet-1.webp    1x,
                  /img/about-us/tablet/about-us-tablet-1@2x.webp 2x
                "
              />
              <source
                srcset="
                  /img/about-us/mobile/about-us-mobile-1.webp    1x,
                  /img/about-us/mobile/about-us-mobile-1@2x.webp 2x
                "
              />
              <img
                src="/img/about-us/mobile/about-us-mobile-1.webp"
                alt="Десерт у Солодкій Майстерні"
              />
            </picture>
          </div>

          <div class="about-us-slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us/desktop/about-us-2.webp    1x,
                  /img/about-us/desktop/about-us-2@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us/tablet/about-us-tablet-2.webp    1x,
                  /img/about-us/tablet/about-us-tablet-2@2x.webp 2x
                "
              />
              <source
                srcset="
                  /img/about-us/mobile/about-us-mobile-2.webp    1x,
                  /img/about-us/mobile/about-us-mobile-2@2x.webp 2x
                "
              />
              <img
                src="/img/about-us/mobile/about-us-mobile-2.webp"
                alt="Десерт у Солодкій Майстерні"
              />
            </picture>
          </div>

          <div class="about-us-slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us/desktop/about-us-3.webp    1x,
                  /img/about-us/desktop/about-us-3@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us/tablet/about-us-tablet-3.webp    1x,
                  /img/about-us/tablet/about-us-tablet-3@2x.webp 2x
                "
              />
              <source
                srcset="
                  /img/about-us/mobile/about-us-mobile-3.webp    1x,
                  /img/about-us/mobile/about-us-mobile-3@2x.webp 2x
                "
              />
              <img
                src="/img/about-us/mobile/about-us-mobile-3.webp"
                alt="Десерт у Солодкій Майстерні"
              />
            </picture>
          </div>

          <div class="about-us-slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us/desktop/about-us-4.webp    1x,
                  /img/about-us/desktop/about-us-4@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us/tablet/about-us-tablet-4.webp    1x,
                  /img/about-us/tablet/about-us-tablet-4@2x.webp 2x
                "
              />
              <source
                srcset="
                  /img/about-us/mobile/about-us-mobile-4.webp    1x,
                  /img/about-us/mobile/about-us-mobile-4@2x.webp 2x
                "
              />
              <img
                src="/img/about-us/mobile/about-us-mobile-4.webp"
                alt="Десерт у Солодкій Майстерні"
              />
            </picture>
          </div>
        </div>
      </div>

      <button
        class="about-us-button about-us-button-prev"
        type="button"
        aria-label="Попередній слайд"
      >
        <svg width="24" height="24" aria-hidden="true">
          <use href="/img/icons.svg#arrow-back"></use>
        </svg>
      </button>

      <button
        class="about-us-button about-us-button-next"
        type="button"
        aria-label="Наступний слайд"
      >
        <svg width="24" height="24" aria-hidden="true">
          <use href="/img/icons.svg#arrow-forward"></use>
        </svg>
      </button>
    </div>

    <div class="about-us-pagination"></div>
  </div>
</section>
