<div class="dessert-details backdrop">
  <div class="dessert-details-modal">
    <button class="dessert-details-close modal-close-btn" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <img class="dessert-details-img" alt="" />
    <div class="dessert-details-info">
      <h2 class="dessert-details-title"></h2>
      <p class="dessert-details-price">
        <span class="dessert-details-price-number"></span> грн.
      </p>
      <div class="dessert-details-rating"></div>
      <p class="dessert-details-description"></p>
      <p class="dessert-details-composition">
        Склад:
        <span class="dessert-details-composition-value"></span>
      </p>
      <button class="dessert-details-btn btn">Перейти до замовлення</button>
    </div>
  </div>
</div>
