<section class="feedback" id="feedback">
  <div class="container">
    <div class="feedback-header">
      <h2 class="feedback-title">Відгуки клієнтів</h2>
      <p class="feedback-subtitle">
        Найкращі десерти, які я коли-небудь куштував!
      </p>
    </div>

    <div class="feedback-slider">
      <div class="swiper feedback-swiper">
        <ul class="swiper-wrapper feedback-list"></ul>
      </div>

      <button
        class="feedback-button feedback-button-prev"
        type="button"
        aria-label="Попередні відгуки"
      >
        <svg width="24" height="24" aria-hidden="true">
  <use href="./img/icons.svg#arrow-back"></use>
</svg>
      </button>

      <button
        class="feedback-button feedback-button-next"
        type="button"
        aria-label="Наступні відгуки"
      >
        <svg width="24" height="24" aria-hidden="true">
  <use href="./img/icons.svg#arrow-forward"></use>
</svg>
      </button>
    </div>

    <div class="feedback-pagination"></div>
  </div>
</section>